h1 {
    color: white;
    font-size: 18px;
    font-family: verdana;
    background-color: darkred;
    padding: 40px;
}

nav {
    text-align: right;
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 30px;
}

.link {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-style: bold;
}

footer {
    background-color: grey;
    text-align: center;
    font-size: 14px;
    padding: 40px;
}

aside {
    float: right;
    float: top;
    padding: 50px;
    font-family: Arial, Arial, sans-serif;
    font-size: 20px;
}